@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100;
	display: block;
}

:root {
	--font-headings: 'Young Serif', serif;
	--font-general: 'Outfit', sans-serif;
	--bg-color-preptime: hsl(330, 100%, 98%);
	--color-preptime-heading: hsl(332, 51%, 32%);
	--color-general-heading: hsl(14, 45%, 36%);
	--bg-color-body: hsl(30, 54%, 90%);
	--bg-color-main: hsl(0, 0%, 100%);
	--color-text-general: hsl(13, 6%, 31%);
	--main-max-width: 950px;
	--bg-color-hr: hsl(30, 18%, 87%);
}

html {
	font-family: var(--font-general);
	font-size: 16px;
}

body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-color-body);
	color: var(--color-text-general);
}

.bold-text {
	font-weight: 600;
}

main {
	background-color: var(--bg-color-main);
	width: 100%;
	padding: 2rem;
	margin-bottom: 1rem;
	max-width: var(--main-max-width);
}

figure {
	max-width: var(--main-max-width);
	background-color: white;
}

.heading-main {
	font-family: var(--font-headings);
	font-size: clamp(1.5rem, 10vw, 3.5rem);
	line-height: clamp(2rem, 10vw, 4rem);
	padding-bottom: 1rem;
	color: black;
}

.desc {
	padding-bottom: 2rem;
	font-size: clamp(1rem, 4vw, 1.4rem);
}

.heading {
	font-family: var(--font-headings);
	font-size: 1.8rem;
	padding: 1.5rem 0 1rem 0;
	color: var(--color-general-heading);
}

li {
	padding: .5rem 0 .5rem .8rem;
}

hr {
	border: none;
	height: 1px;
	background-color: var(--bg-color-hr);
}

.preparation-time {
	background-color: var(--bg-color-preptime);
	padding: 1rem 0;
	border-radius: 1rem;
}

.preparation-time ul {
	margin-left: clamp(.5rem, 10vw, 3rem);
}

.preparation-time li::marker {
	color: var(--color-preptime-heading);
}

.preparation-time li:nth-child(1) {
	padding-top: 1rem;
}

.preparation-time ul::before {
	content: attr(aria-label);
	font-size: 1.2rem;
	font-weight: 600;
	margin: -1rem;
	color: var(--color-preptime-heading);
}

.ingredients {
	padding-bottom: 2rem;
}

.ingredients li,
.instructions li {
	margin-left: 1.5rem;
}

.ingredients li::marker,
.instructions li::marker,
.nutrition p:nth-child(even) {
	color: var(--color-general-heading);
}

.instructions li::marker,
.nutrition p:nth-child(even) {
	font-weight: 600;
}

.instructions {
	padding-bottom: 1.5rem;
}

.nutrition li {
	display: grid;
	grid-template-columns: 50% 1fr;
}

.nutrition p:nth-child(odd) {
	padding: 0 0 0 1rem;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 950px) {
	figure {
		padding: 2rem 2rem 0 2rem;
		border-radius: 1rem 1rem 0 0;
	}

	body {
		padding: 6rem 0;
	}

	main {
		border-radius: 0 0 1rem 1rem;
	}

	.nutrition li {
		grid-template-columns: 35% 1fr;
	}
}